<div class="container">
  <div class="row my-5 mx-auto border">
    <h4 class="col-10 my-3 mx-auto text-secondary">投稿を編集</h4>
    <div class="col-10 mx-auto">
      <%= form_with model: @video, url: video_path, method: :patch do |f| %>
        <div class="row mt-3 justify-content-center">
          <%= f.text_field :title, class: "form-control textarea col-md-7", rows: "5" %>
        </div>

        <div class="row mt-3 justify-content-center">
          <%= f.text_area :content, class: "form-control textarea col-md-7", rows: "5" %>
        </div>

        <div class="row mt-3 justify-content-center">
          <%= f.file_field :video, accept: "video/*", class: "col-md-7" %>
        </div>

        <div class="row my-5 justify-content-center">
          <%= f.submit "完了", class: "col-md-2 btn btn-primary my-1" %>
          <%= link_to "削除する", video_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "col-md-2 offset-md-1 btn btn-danger my-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>