<div class="inner">
<div id="sp-menu">
  <h2>MENU</h2>
    <% if user_signed_in? %>
    <ul>
    <li><%= link_to '投稿フォーム', new_video_path %></li>
    <li><%= link_to '投稿一覧', videos_path %></li>
    <li>タグ一覧<</li>
    <li>ユーザー一覧</li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
    <ul>
    <li><%= link_to "Topページ", root_path %></li>
    <li><%= link_to "Aboutページ", about_path %></li>
    <li><<%= link_to "新規登録", new_user_registration_path %></li>
    <li><%= link_to "ログイン", new_user_session_path %></li>
    </ul>
  <% end %>
</div>

<div id="hm-icon">
  <a class="menu-trigger">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
</div>